# Ejercicios clase 2 git

Este cuaderno de python es creado con el fin de ilustrar el método de fork y pull request.

# 1
La sucesión de Fibonacci se define de la siguiente forma: a1=1, a2=1 y an=an-1+an-2 para n>2, es decir los dos primeros son 1 y el resto cada uno es la suma de los dos anteriores, los primeros son: 1, 1, 2, 3, 5, 8, 13, 21, ... Hacer un diagrama de flujo para calcular el Nésimo término de la sucesión.

# 2 
Elabora un programa que solicite la medida en Pies y realice la conversión a pulgadas, yardas, cm y metros. Toma en cuenta que un pie tiene 12 pulgadas y una pulgada equivale a 2.54 cm.

# 3
Escribir un programa que pregunte al usuario su nombre, edad, dirección y teléfono y lo guarde en un diccionario. Después debe mostrar por pantalla el mensaje <nombre> tiene <edad> años, vive en <dirección> y su número de teléfono es <teléfono>.
    
# 4
Escribir un programa que cree un diccionario vacío y lo vaya llenado con información sobre una persona (por ejemplo nombre, edad, sexo, teléfono, correo electrónico, etc.) que se le pida al usuario. Cada vez que se añada un nuevo dato debe imprimirse el contenido del diccionario.
    
# 5
Escribir una función que simule una calculadora científica que permita calcular el seno, coseno, tangente, exponencial y logaritmo neperiano. La función preguntará al usuario el valor y la función a aplicar, y mostrará por pantalla una tabla con los enteros de 1 al valor introducido y el resultado de aplicar la función a esos enteros.

In [3]:
# Profesor
import numpy as np
ejercicios = np.tile(np.arange(1,6), 6)
estudiantes = np.arange(1, 31)
clase = []

for est, ejer in zip(estudiantes, ejercicios):
    clase.append(f'estudiante {est} ejercicio {ejer}')
    
clase

['estudiante 1 ejercicio 1',
 'estudiante 2 ejercicio 2',
 'estudiante 3 ejercicio 3',
 'estudiante 4 ejercicio 4',
 'estudiante 5 ejercicio 5',
 'estudiante 6 ejercicio 1',
 'estudiante 7 ejercicio 2',
 'estudiante 8 ejercicio 3',
 'estudiante 9 ejercicio 4',
 'estudiante 10 ejercicio 5',
 'estudiante 11 ejercicio 1',
 'estudiante 12 ejercicio 2',
 'estudiante 13 ejercicio 3',
 'estudiante 14 ejercicio 4',
 'estudiante 15 ejercicio 5',
 'estudiante 16 ejercicio 1',
 'estudiante 17 ejercicio 2',
 'estudiante 18 ejercicio 3',
 'estudiante 19 ejercicio 4',
 'estudiante 20 ejercicio 5',
 'estudiante 21 ejercicio 1',
 'estudiante 22 ejercicio 2',
 'estudiante 23 ejercicio 3',
 'estudiante 24 ejercicio 4',
 'estudiante 25 ejercicio 5',
 'estudiante 26 ejercicio 1',
 'estudiante 27 ejercicio 2',
 'estudiante 28 ejercicio 3',
 'estudiante 29 ejercicio 4',
 'estudiante 30 ejercicio 5']

In [ ]:
# 1 - ejercicio 1
# Valeria Ladrón de Guevara Vidrio
def fibonacci(n):
    if n < 2:
        return n
    if n >= 1000:
        return ("No se puede")
    else:
        return fibonacci(n-1) + fibonacci(n-2)
fibonacci(1000)

In [30]:
# 2 - ejercicio 2
# Nombre: Mariela López

pies = float(input("Ingrese la medida en pies: "))

pulgadas = 12 * pies
yardas = 1/3 * pies
cm = 2.54 * pulgadas
m = cm / 100

print("Esta medida equivale a: \n", pulgadas, "pulgadas \n", yardas, "yardas \n", cm, "centímetros \n", m, "metros")

Ingrese la medida en pies: 1
Esta medida equivale a:
 12.0 pulgadas
 0.3333333333333333 yardas
 30.48 centímetros
 0.3048 metros

In [2]:
# 3 - ejercicio 3
# Nombre: PABLO Muñoz

In [3]:
# 4 - ejercicio 4

# Tonatiuh Navarro
for i in range (1):
    
    informacion = {}
    nombre = input("Introduce tu nombre:")
    informacion['Nombre'] = nombre
    for clave, respuesta in informacion.items():
          print (clave,':',respuesta)
    edad = int(input("Introduce tu Edad:"))
    informacion['Edad'] = edad
    for clave, respuesta in informacion.items():
          print(clave, ':', respuesta)
    sexo = input("Introduce tu Sexo:")
    informacion['Sexo'] = sexo
    for clave, respuesta in informacion.items():
         print(clave, ':', respuesta)
    teléfono = int(input("Introduce tu Teléfono:"))
    informacion['Teléfono'] = teléfono
    for clave, respuesta in informacion.items():
          print(clave, ':', respuesta)
    correo_electrónico = input("Introduce tu Correo electrónico:")
    informacion['Correo electrónico'] = correo_electrónico
    for clave, respuesta in informacion.items():
          print(clave, ':', respuesta)

Introduce tu nombre:Jose Tonatiuh
Nombre : Jose Tonatiuh
Introduce tu Edad:20
Nombre : Jose Tonatiuh
Edad : 20
Introduce tu Sexo:Masculino
Nombre : Jose Tonatiuh
Edad : 20
Sexo : Masculino
Introduce tu Teléfono:3318370857
Nombre : Jose Tonatiuh
Edad : 20
Sexo : Masculino
Teléfono : 3318370857
Introduce tu Correo electrónico:tona.navarro.17@gmail.com
Nombre : Jose Tonatiuh
Edad : 20
Sexo : Masculino
Teléfono : 3318370857
Correo electrónico : tona.navarro.17@gmail.com

In [68]:
# 5 - ejercicio 5
# Nombre: Andrés Ramírez Villanueva
import numpy as np
import pandas as pd

def calculadora():
    
    print("Opciones:\n 1: Seno\n 2: Coseno\n 3: Tangente\n 4: Exponencial\n 5: Logaritmo neperiano\n ")
    ope=int(input("¿Qué operación desea realizar?"))
    valor=int(input("¿Qué valor desea alcanzar?"))
    w=np.linspace(1,valor,valor)
    if(ope==1):
        tabla=pd.DataFrame(data={'Valor':w,'Resultado':np.sin(w)})
    if(ope==2):
        tabla=pd.DataFrame(data={'Valor':w,'Resultado':np.cos(w)})
    if(ope==3):
        tabla=pd.DataFrame(data={'Valor':w,'Resultado':np.tan(w)})
    if(ope==4):
        tabla=pd.DataFrame(data={'Valor':w,'Resultado':np.exp(w)})
    if(ope==5):
        tabla=pd.DataFrame(data={'Valor':w,'Resultado':np.log(w)})   
    tabla=tabla.set_index('Valor')
    return tabla

In [74]:
calculadora()

Opciones:
 1: Seno
 2: Coseno
 3: Tangente
 4: Exponencial
 5: Logaritmo neperiano

¿Qué operación desea realizar?5
¿Qué valor desea alcanzar?10

       Resultado
Valor
1.0     0.000000
2.0     0.693147
3.0     1.098612
4.0     1.386294
5.0     1.609438
6.0     1.791759
7.0     1.945910
8.0     2.079442
9.0     2.197225
10.0    2.302585

In [ ]:
# 6 - ejercicio 1
# Nombre

In [ ]:
# 7 - ejercicio 2
# Nombre

In [ ]:
# 8 - ejercicio 3
# Nombre

In [ ]:
# 9 - ejercicio 4
# Nombre

In [ ]:
# 10 - ejercicio 5
# Nombre

In [5]:
# 11 - ejercicio 1
# Nombre

In [ ]:
# 12 - ejercicio 2
# Nombre

In [6]:
# 13 - ejercicio 3
# Nombre

In [ ]:
# 14 - ejercicio 4
# Nombre

In [ ]:
# 15 - ejercicio 5
# Nombre

In [ ]:
# 16 - ejercicio 1
# Nombre

In [ ]:
# 17 - ejercicio 2
# Nombre

In [ ]:
# 18  - ejercicio 3
# Nombre

In [ ]:
# 19 - ejercicio 4
# Nombre

In [ ]:
# 20 - ejercicio 5
# Nombre

In [7]:
# 21 - ejercicio 1
# Nombre

In [ ]:
# 22 - ejercicio 2
# Nombre

In [ ]:
# 23 - ejercicio 3
# Nombre

In [ ]:
# 24 - ejercicio 4
# Nombre

In [ ]:
# 25 - ejercicio 4
# Nombre

In [ ]:
# 26 - ejercicio 4
# Nombre

In [ ]:
# 27 - ejercicio 4
# Nombre

In [ ]:
# 28 - ejercicio 4
# Nombre

In [ ]:
# 29 - ejercicio 4
# Nombre

In [ ]:
# 30 - ejercicio 4
# Nombre